input[type="submit"],  button[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #3E5B76;
    color: #f8f8f8;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    font-size: 1.5em;
    height: 30px;
    width: 100px;
}

input[type="wait"] {
    -webkit-appearance: button;
    cursor: not-allowed;
    background-color: #c0c0c0;
    color: #f8f8f8;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    font-size: 1.5em;
    height: 30px;
    width: 100px;
}

div.issue div.subject p {
    margin: 0;
    margin-bottom: 0.1em;
    font-size: medium;
    font-weight: bold;
    color: #999;
}

div.contextual {
    float: right;
    white-space: nowrap;
    line-height: 1.5em;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

div.issue .attributes .attribute .label {
    width: initial;
    margin-left: -180px;
    font-weight: bold;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}